
html, body {
    padding: 0px;
    margin: 0px;

    background-color: #555555;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    max-width:100%;
    overflow-x:hidden;
    overscroll-behavior: none;

    text-align:center;
}

.calendarbox {
    background:#ffffff;
    position: relative;
    width: 200%;
    height: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.calendarobject {
    position:absolute;
    background-color: transparent;
    display:inline-block;
}

.verticaldivision {
    border-color: #d0d0d0;
    width: 0px;
    height: 100%;
    border-width:0px;
    border-right-width:2px;
    border-style:solid;
}

.monthname {
    margin: 2px;
    margin-left: 8px;
    color: #d0d0d0;
    
}
