
html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;

    background-color: #555555;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    overscroll-behavior: none;

    text-align:center;
}

.map {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform:translate(-50%,-50%);
}

.rose {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 96px;
    height: 128px;
}

.link {
    bottom: 8px;
}
.source {
    bottom: 72px;
}

.smallbutton {
    position: absolute;
    left: 8px;
    width: 64px;
    height: 64px;
}

.noselect {
    user-select: none;
    cursor: pointer;
}

.copybox {
    position: fixed;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    padding: 0;
    background: transparent;
}

.calendarbox {
    background:#ffffff;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
