
html, body {
    padding: 0px;
    margin: 0px;

    background-color: #ffffff;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    max-width:100%;
    overflow-x:hidden;
    overscroll-behavior: none;

    text-align:center;
}

.calendarbox {
    background:#ffffff;
    position: relative;
    width: 200%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontaldivision {
    border-color: #bbbbbb;
    height: 0px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
}

.calendarobject {
    position:absolute;
    background-color: transparent;
    display:inline-block;
}

.verticaldivision {
    border-color: #d0d0d0;
    width: 0px;
    height: 100%;
    border-width:0px;
    border-right-width:1px;
    border-style:solid;
}

.seasontitle {
    font-family: sans;
    border-width:0px;
    border-bottom-width:1px;
    border-color:#000000;
    border-style: solid;
}

.seasonduration {
    height: 16px;
    width: 10px;
    background-color: #aaaaaa;
}

.seasoninput {
    font-family: sans;
}


.monthname {
    margin: 2px;
    margin-left: 8px;
    color: #d0d0d0;
    font-family: sans;
}

.datelabel {
    margin: 8px;
    margin-left: 4px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #d0d0d0;
    font-family: sans;
}

.background {
    user-select: none;
    cursor: pointer;
}
