
html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;

    background-color: #555555;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    max-width:100%;
    overflow-x:hidden;
    overscroll-behavior: none;

    text-align:center;
}

.calendarbox {
    background:#ffffff;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.calendarobject {
    position:relative;
}
